/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: url('asset/bg.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: scroll; /* Menghilangkan efek fixed background */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 40px 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left; /* Pastikan isi form rata kiri */
}

h1 {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

label {
    display: block; /* Membuat label berada di baris baru */
    text-align: left; /* Pastikan teks label rata kiri */
    margin-bottom: 5px; /* Beri jarak antara label dan input */
    font-weight: 500; /* Tambahkan sedikit ketebalan untuk visibilitas */
    font-size: 14px; /* Ukuran font label */
}

input[type="file"] {
    font-size: 14px; /* Ukuran font input */
}

.btn-primary {
    background-color: #0d6efd;
    border: none;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
}

.btn-primary:hover {
    background-color: #0b5ed7;
}

.watermark {
    font-size: 12px;
    font-style: italic;
    color: #aaa;
    font-weight: 300;
    text-align: center;
}

@media (max-width: 576px) {
    h1 {
        font-size: 20px;
    }

    .form-container {
        padding: 20px 10px;
        width: 100%;
    }

    .btn-primary {
        font-size: 14px;
        padding: 8px 0;
    }
}
